@font-face{
    font-family: 'condensed';
    src: url(./assets/roboto-condensed.light.ttf);
    font-weight: 9000;
}

@font-face{
    font-family: 'economicaBold';
    src: url(./assets/economica-bold.ttf);
}

p{
    background-color: white;
}

body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: 'condensed';
}
h1,h2,h3,h4,h5 {
    font-family: 'economicaBold';
}

.center-it{
    text-align: center;
    align-items: center;
}
.carrer-info{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}
.profileImg {
    width: 140px;
    height: 200px;
    border-radius: 3px;
}
.bg-image{
    background-image: url('./assets/bg_main.jpg') ;
    background-repeat: no-repeat;
    background-size:100%;    
}


.text-fade-in{
    opacity: 100;
    animation-name: fade-in;
    animation-duration: 2s; 
}

.text-fade-out{
    opacity: 20;
    animation-name: fade-out;
    animation-duration: 2s;
}

@keyframes fade-in{
    from {opacity: 20}
    to {opacity: 80}
}

@keyframes fade-out{
    from {opacity: 80}
    to {opacity: 20}
}